@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-grey: #e5e5e5;
  --color-light-grey: #e6e6e6;
  --color-light: #f2f2f2;
  --color-white: #ffffff;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7db54f;
  --color-dark-green: #6c9e42;
  --color-light-blue: #83b3d3;
  --color-dark-blue: #68a2ca;
  --color-cold-light: rgba(131, 179, 211, 0.12);
  --color-warm-light: rgba(131, 179, 211, 0.2);
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Шапка */
.main-header {
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0 auto;
}

.main-nav-logo {
  position: absolute;
  display: block;
  width: 140px;
  margin: 0;
}

.main-nav {
  display: flex;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav-item {
  margin: 0;
  padding: 0;
}

.main-nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  background-color: var(--color-white);
  text-decoration: none;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 169px;
  width: 550px;
}

.site-navigation-link {
  display: block;
  padding: 20px 17px;
}

.site-navigation-item .user-nav-link {
  min-width: 42px;
  min-height: 42px;
}

.user-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
.user-nav-item {
  margin: 0;
  padding: 0;
}

.user-nav-link {
  display: flex;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 23px;
  padding-left: 11px;
  padding-right: 11px;
  min-width: 20px;
  min-height: 19px;
}

.user-nav-link-favorite {
  padding: 0;
}

.counter-value {
  position: relative;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-radius: 10px;
}

.user-nav-link-btn {
  display: block;
  border-radius: 4px;
  padding: 9px 35px 8px 34px;
  margin: 13px 0px 14px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Промо */
.promo {
  background-color: var(--color-white);
}

.promo-img-container {
  position: relative;
  height: 485px;
  background-color: var(--color-light-brown);
}

/* .promo-img-background::after {
  background-image: url("../images/divider-main-background.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;

} */

.promo-img-inscription {
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}

.promo-title {
  margin: 63px 240px 31px 240px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.promo-text {
  margin: 0;
  padding-bottom: 80px;
  padding-left: 240px;
  padding-right: 240px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: var(--color-dark);
}

/* Преимущества  */

.privilege {
  background-color: var(--color-white);
}

.privilege-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.privilege-item-title {
  margin-top: 98px;
  margin-bottom: 80px;
  padding: 0 130px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}
.privilege-item-picture .privilege-item-title {
  margin-top: 98px;
  margin-bottom: 80px;
  padding: 0 90px;
}

.privilege-item-picture .privilege-item-text {
  padding: 0 90px;
  min-width: 220px;
}

.privilege-item-text {
  padding: 0 75px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 250px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark);
}

.privilege-item-wrapper {
  max-width: 400px;
}

.privilege-item-img {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.privilege-list li:nth-child(2) {
  flex-direction: row-reverse;
}

.privilege-list li:nth-child(3),
.privilege-list li:nth-child(5) {
  width: calc(100% / 3);
  background-color: var(--color-cold-light);
}

.privilege-list li:nth-child(4) {
  width: calc(100% / 3);
  min-height: 384px;
  background-color: var(--color-warm-light);
}

.privilege-item-picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-light-blue);
}

.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text,
.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text {
  color: var(--color-white);
}

/* Privilege-aside-list  */

.privilege-aside-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-white);
}

.privilege-aside-list .background-light {
  background-color: var(--color-cold-light);
}

.privilege-aside-item {
  width: calc(100% / 3);
  min-height: 384px;

}

.privilege-aside-title {
  margin: 184px 75px 19px 75px;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.privilege-aside-text {
  padding: 0 75px;
  margin: 0;
  margin-bottom: 79px;
  min-width: 250px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark);
}

/* Поиск гостиниц */

.search-hostel {
  padding-top: 90px;
  padding-bottom: 93px;
  background-color: var(--color-white);
}

.search-hostel-title {
  margin: 0 240px 29px 240px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.search-hostel-text {
  min-width: 720px;
  margin: 0 240px 56px 240px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark);
}

.search-hostel-btn {
  box-sizing: border-box;
  display: block;
  max-height: 60px;
  margin: 0 312px;
  padding: 15px 150px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

/* Подписка */

.mailling-container {
  min-height: 411px;
  background-color: var(--color-dark-blue);
  background-image: url("../images/mailling-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mailling-title {
  padding-top: 94px;
  margin: 0 240px 29px 240px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.mailling-text {
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 240px 46px 240px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
}

.mailling-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-field {
  width: 600px;
  height: 60px;
  padding: 0;
  border-radius: 10px 0 0 10px;
  border: none;
  background-color: var(--color-white);
}

.subscribe-field::placeholder {
  padding-left: 21px;
  padding-right: 19px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: var(--color-black);
  opacity: 0.6;
}

.subscribe-button {   /* текст в кнопке растягивается*/
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  padding: 0 auto;
  border-radius: 0 10px 10px 0;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.11em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

/* Подвал */

.footer {
  background-color: var(--color-white);
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 72px 30px 72px;
  border-top: 1px solid var(--color-light-grey);
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
  max-width: 240px;
  min-width: 107px;
  list-style-type: none;
}

.phone {     /* у номера курсивный шрифт*/
  display: block;
  padding-top: 8px;
  width: 720px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.footer-logo {
  margin-left: auto;
  max-width: 240px;
}

.footer-logo-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 3px;
}

.socials-link {
  display: flex;
  /* padding-right: 20px; */
}

/* Каталог */

/* Фильтр */

.filter {
  margin-left: 72px;
  margin-right: 72px;
}

.filter-wrapper {   /* Почему под главной навигацией у фона появилась выемка*/
  position: relative;
  margin: 0 auto;
  background-color: var(--color-dark);
  background-image: url("../images/catalog-main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 83px;
}

.catalog-filter:nth-child(2) {
  width: 313px;
}

.catalog-filter-group {
  width: 287px;
}

.catalog-filter-btn {
  display: flex;
  flex-direction: column;
}

.inner-header-title {  /*Почему-то у меня область заголовка на 10px выше, из-за этого коричневый фон торчит.*/
  padding: 0;
  padding-top: 35px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 72px;
  margin-right: 72px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: var(--color-white);
}

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  list-style-type: none;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-white);
  text-decoration: none;
}

/* Форма фильтра */

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white);
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.checkpoint {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-white);
}

.catalog-filter .button {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.catalog-filter .reset {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
}

/* Сортировка */

.sorting {
  display: flex;
  margin: 0 auto;
  min-width: 1057px;
  padding-top: 44px;
  padding-bottom: 53px;
  padding-left: 71px;
  padding-right: 72px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.sorting-search {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: calc(100% / 2);
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--color-black);
}

.select-sorting {
  box-sizing: border-box;
  margin: 0;
  margin-right: 81px;
  padding: 0;
  padding-left: 14px;
  width: 287px;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: var(--color-dark);
}

.sorting .button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid var(--color-black);
  border-radius: 4px;
}

.sorting .button:last-child {
  margin-right: 0;
}

.sorting .button-light {
  border: 2px solid var(--color-light-grey);
}

/* Отфильтрованный каталог */

.catalog {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

.catalog-list {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  list-style-type: none;
}

.catalog-card {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 339px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.catalog-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
  padding-bottom: 0;
  text-decoration: none;
}

.catalog-card-title {
  order: -1;
  margin: 16px 0;
  width: calc(100%);
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: var(--color-black);
}

.catalog-img {
  order: -2;
  margin: 0;
  padding: 0;
}

.catalog-card-type,
.catalog-card-price {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  margin-right: 25px;
  padding: 0;
  width: calc((100% / 2) - 16px);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.catalog-card-price {
  margin: 0;
}

.catalog-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 16px 20px;
  padding: 0px;
}

.catalog-card-btn {
  box-sizing: border-box;
  padding: 8px 22px 8px 23px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

.btn-favourites {
  box-sizing: border-box;
  padding: 8px 20px 8px 22px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.btn-favourites-added {
  padding: 8px 17px 8px 20px;
  background-color: var(--color-light-green);
}

.raiting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 20px;
  padding: 0px;
}

.raiting-value {
  padding: 8px 33px 8px 33px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Пагинация */

.pagination-show-more {
  box-sizing: border-box;
  margin: 24px 72px 0 72px;
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
}

.pagination-btn{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px  0;
  padding-top: 17px;
  padding-bottom: 16px;
  border: none;
  border-radius: 4px;
  width: 620px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.09em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination {
  display: flex;
  margin: 0 auto;
  padding: 30px 72px 73px 72px;
  background-color: var(--color-white);
}

.pagination-list {
  margin: 0;
  padding: 0;
  width: calc(100% / 2);
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination-current {
  color: var(--color-white);
  background-color: var(--color-light);
}

.count-filter {
  padding: 2px 0;
  margin-left: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.count {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.count-select {
  box-sizing: border-box;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;;
  width: 160px;
  height: 48px;
  margin-left: 49px;
  margin-top: 2px;
}

/* Подписка на странице каталога */

.catalog-mailling {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 140px;
}

.catalog-mailling-title {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.catalog-mailling-text {
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 46px;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark);
}

.main-inner .subscribe-field {
  background-color: var(--color-light);
}

.catalog-mailling-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

