@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-gray: #e5e5e5;
  --color-light: #f2f2f2;
  --color-white: #ffffff;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7db54f;
  --color-dark-green: #6c9e42;
  --color-light-blue: #83b3d3;
  --color-dark-blue: #68a2ca;
  --color-cold-light: rgba(131, 179, 211, 0.12);
  --color-warm-light: rgba(131, 179, 211, 0.2);
}

.visually-hidden {
  position: absolute;
  clip:rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dark, #333333);
  background-color: var(--color-light, #f2f2f2);
}

/* Шапка */
.main-header {
  color: var(--color-black, #000000);
  background-color: var(--color-white, #ffffff);
}

.main-nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black, #000000);
  text-align: center;
  background-color: var(--color-white, #ffffff);
  text-decoration: none;
}

.counter-value {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-green, #7db54f);
  border-radius: 10px;
}

.user-nav-link-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-brown, #756257);
}

/* Промо */
.promo {
  background-color: var(--color-white, #ffffff);
}

.promo-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black, #000000);
}

.promo-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: var(--color-dark, #333333);
}

/* Преимущества */

.privilege {
  background-color: var(--color-white, #ffffff);
}

.privilege-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black, #000000);
}
.privilege-item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark, #333333);
}

.privilege-item-picture,
.privilege-item-picture {
  background-color: var(--color-light-blue, #83b3d3);
}

.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text,
.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text {
  color: var(--color-white, #ffffff);
}

.background-light {
  background-color: var(--color-cold-light, rgba(131, 179, 211, 0.12));
}

/* Privilege-aside-list  */

.privilege-aside-list .background-light {
  background-color: var(--color-cold-light, rgba(131, 179, 211, 0.12));
}

.privilege-aside-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black, #000000);
}

.privilege-aside-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark, #333333);
}

/* Поиск гостиниц */

.search-hostel {
  background-color: var(--color-white, #ffffff);
}

.search-hostel-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black, #000000);
}

.search-hostel-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark, #333333);
}

.search-hostel-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-brown, #756257);
}

/* Подписка */

.mailling {
  background-color: var(--color-light-brown, #756257);
  background-image: url("../images/mailling-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mailling-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
}

.mailling-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-white, #ffffff);
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-blue, #83b3d3);
}

/* Подвал */

.footer {
  background-color: var(--color-white, #ffffff);
}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black, #000000);
}

/* Каталог */

/* Фильтр */

.filter-wrapper {
  background-color: var(--color-dark, #333333);
  background-image: url("../images/catalog-main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: var(--color-white, #ffffff);
}

/* Хлебные крошки */

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-white, #ffffff);
  text-decoration: none;
}

/* Форма фильтра */

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white, #ffffff);
}

.checkpoint {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-white, #ffffff);
}

.catalog-filter .button {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-blue, #83b3d3);
}

.catalog-filter .reset {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: var(--color-white, #ffffff);
}

/* Сортировка */

.sorting {
  background-color: var(--color-white, #ffffff);
  color: var(--color-black, #000000);
}

.sorting-search {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--color-black, #000000);
}

.select-sorting {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark, #333333);
}

/* Отфильтрованный каталог */

.catalog-card {
  background-color: var(--color-white, #ffffff);
  color: var(--color-black, #000000);
}

.catalog-link {
  text-decoration: none;
}

.catalog-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: var(--color-black, #000000);
}

.catalog-card-type,
.catalog-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark, #333333);
}

.catalog-card-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-brown, #756257);
}

.btn-favourites {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-blue, #83b3d3);
}

.btn-favourites-added {
  background-color: var(--color-light-green, #7db54f);
}

.raiting-value {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark, #333333);
  background-color: var(--color-light, #f2f2f2);
}

/* Пагинация */

.pagination-show-more {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-blue, #83b3d3);
}

.pagination {
  background-color: var(--color-white, #ffffff);
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-blue, #83b3d3);
}

.pagination-current {
  color: var(--color-white, #ffffff);
  background-color: var(--color-light, #f2f2f2);
}

.count-filter {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark, #333333);
}

/* Подписка на странице каталога */

.catalog-mailling {
  background-color: var(--color-white, #ffffff);
  color: var(--color-black, #000000);
}

.catalog-mailling-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black, #000000);
}

.catalog-mailling-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark, #333333);
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white, #ffffff);
  background-color: var(--color-light-blue, #83b3d3);
}
