@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-grey: #e5e5e5;
  --color-light-grey: #e6e6e6;
  --color-light: #f2f2f2;
  --color-white: #ffffff;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7db54f;
  --color-dark-green: #6c9e42;
  --color-light-blue: #83b3d3;
  --color-dark-blue: #68a2ca;
  --color-cold-light: rgba(131, 179, 211, 0.12);
  --color-warm-light: rgba(131, 179, 211, 0.2);
  --color-warm-active: rgba(117, 98, 87, 0.3);
  --color-white-active: rgba(255, 255, 255, 0.3);
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Шапка */
.main-header {
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0 auto;
}

.main-nav-logo {
  display: block;
  z-index: 1;
  position: absolute;
  display: block;
  width: 140px;
  margin: 0;
}

.main-nav {
  display: flex;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.site-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 169px;
  width: 550px;
  padding: 0;
  list-style-type: none;
}

.site-navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  border: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  background-color: var(--color-white);
  text-decoration: none;
}

.site-navigation-link:hover {
  color: var(--color-light-brown);
}

.site-navigation-link:active {
  color: var(--color-warm-active);
  text-transform: none;
}

.site-navigation-link-active::before {
  content: "";
  background-color: var(--color-light-brown);
  height: 2px;
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 17px;
}

.user-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style-type: none;
}
.user-nav-item {
  margin: 0;
  padding: 0;
}

.user-nav-link {
  position: relative;
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 11px;
  padding-right: 11px;
  min-width: 20px;
  min-height: 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-white);
  text-decoration: none;
}

.user-nav-link-favorite {
  position: relative;
}

.user-nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.user-nav-link:hover path {
  fill: var(--color-light-brown);
}

.user-nav-link:active path {
  fill: var(--color-warm-active);
}

.counter-value {
  position: absolute;
  top: -9px;
  left: 24px;
  width: 20px;
  height: 14px;
  padding: 3px 0px;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: -0.1em;
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-radius: 10px;
}

.user-nav-link:active .counter-value {
  opacity: 0.3;
}

.user-nav-link-btn {
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
  border: 3px solid transparent;
  padding: 5px 31px;
  margin: 13px 0px 13px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-brown);
  text-decoration: none;
}

.user-nav-link-btn:hover {
  background-color: var(--color-dark-brown);
}

.user-nav-link-btn:focus {
  box-sizing: border-box;
  background-color: var(--color-dark-brown);
  outline: 3px solid var(--color-light-blue);
}

.user-nav-link-btn:active {
  box-sizing: border-box;
  color: var(--color-white-active);
  background-color: var(--color-dark-brown);
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Промо */
.promo {
  background-color: var(--color-white);
}

.promo-img-container {
  position: relative;
  height: 485px;
  background-color: var(--color-light-brown);
}

.promo-img-container::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-image: url("../images/divider-main-background.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}

.promo-img-inscription {
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
}

.promo-title {
  margin: 63px 240px 31px 240px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.promo-text {
  margin: 0;
  padding-bottom: 80px;
  padding-left: 240px;
  padding-right: 240px;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: var(--color-dark);
}

/* Преимущества  */

.privilege {
  background-color: var(--color-white);
}

.privilege-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: counter-privilege;
}

.privilege-item-title {
  margin-top: 98px;
  margin-bottom: 30px;
  padding: 0 130px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

.privilege-item-title::after {
  display: block;
  padding-top: 28px;
  counter-increment: counter-privilege;
  content: "— №"counter(counter-privilege)" —";
  color: var(--color-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.privilege-item-picture .privilege-item-title::after {
  color: var(--color-white);
}

.privilege-item-picture .privilege-item-title {
  margin-top: 98px;
  margin-bottom: 30px;
  padding: 0 90px;
}

.privilege-item-picture .privilege-item-text {
  padding: 0 90px;
  min-width: 220px;
}

.privilege-item-text {
  padding: 0 75px;
  margin-top: 0;
  margin-bottom: 37px;
  min-width: 250px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark);
}

.privilege-item-wrapper {
  max-width: 400px;
}

.privilege-item-img {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.privilege-list li:nth-child(2) {
  flex-direction: row-reverse;
}

.privilege-list li:nth-child(3),
.privilege-list li:nth-child(5) {
  width: calc(100% / 3);
  background-color: var(--color-cold-light);
}

.privilege-list li:nth-child(4) {
  width: calc(100% / 3);
  min-height: 384px;
  background-color: var(--color-warm-light);
}

.privilege-item-picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text,
.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text {
  color: var(--color-white);
}

/* Privilege-aside-list  */

.privilege-aside-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--color-white);
}

.privilege-aside-item {
  width: calc(100% / 3);
  min-height: 384px;
}

.privilege-aside-house {
  background-color: var(--color-cold-light);
  background-image: url("../images/reasons/house.svg");
  background-repeat: no-repeat;
  background-position: center 89px;
}

.privilege-aside-food {
  background-image: url("../images/reasons/burger.svg");
  background-repeat: no-repeat;
  background-position: center 91px;
}

.privilege-aside-present {
  background-color: var(--color-cold-light);
  background-image: url("../images/reasons/present.svg");
  background-repeat: no-repeat;
  background-position: center 89px;
}

.privilege-aside-title {
  margin: 184px 75px 19px 75px;
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.privilege-aside-text {
  padding: 0 75px;
  margin: 0;
  margin-bottom: 79px;
  min-width: 250px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark);
}

/* Поиск гостиниц */

.search-hostel {
  padding-top: 90px;
  padding-bottom: 93px;
  background-color: var(--color-white);
}

.search-hostel-title {
  margin: 0 240px 29px 240px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.search-hostel-text {
  min-width: 720px;
  margin: 0 240px 56px 240px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark);
}

.search-hostel-btn {
  box-sizing: border-box;
  border: 3px solid transparent;
  display: inline-block;
  cursor: pointer;
  min-width: 575px;
  max-height: 60px;
  margin: 0 312px;
  padding: 12px 0;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

.search-hostel-btn:hover {
  background-color: var(--color-dark-brown);
}

.search-hostel-btn:focus {
  box-sizing: border-box;
  background-color: var(--color-dark-brown);
  outline: 3px solid var(--color-light-blue);
}

.search-hostel-btn:active {
  background-color: var(--color-dark-brown);
  color: var(--color-white-active);
}

/* Подписка */

.mailling-container {
  min-height: 411px;
  background-color: var(--color-dark-blue);
  background-image: url("../images/mailling-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mailling-title {
  padding-top: 94px;
  margin: 0 240px 29px 240px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.mailling-text {
  padding: 0 120px;
  margin: 0 240px 46px 240px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
}

.mailling-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-field {
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  padding: 0;
  border-radius: 10px 0 0 10px;
  border: 3px solid transparent;
  background-color: var(--color-light);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.subscribe-field-error {  /* класс ошибки для subscribe-field */
  box-sizing: border-box;
  outline: 0;
  border: 2px solid #ff5757;
}

.subscribe-field::placeholder {
  font-family: "PT Sans", sans-serif;
  padding-left: 22px;
  padding-right: 19px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--color-black);
  opacity: 0.6;
}

.subscribe-field:hover {
  background-color: var(--color-light-grey);
}

.subscribe-field:focus {
  box-sizing: border-box;
  outline: 0;
  background-color: var(--color-light-grey);
  border: 3px solid var(--color-light-blue);
}

.subscribe-button {
  box-sizing: border-box;
  border: 3px solid transparent;
  display: block;
  cursor: pointer;
  min-width: 200px;
  min-height: 60px;
  border-radius: 0 10px 10px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.subscribe-button:hover {
  background-color: var(--color-dark-blue);
  border: none;
}

.subscribe-button:focus {
  box-sizing: border-box;
  background-color: var(--color-dark-blue);
  outline: 3px solid var(--color-light-brown);

}

.subscribe-button:active {
  background-color: var(--color-dark-blue);
  color: var(--color-white-active);
}

/* Подвал */

.footer {
  background-color: var(--color-white);
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 62px 19px 62px;
  border-top: 1px solid var(--color-light-grey);
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: auto;
  max-width: 240px;
  min-width: 107px;
  list-style-type: none;
}

.socials-item {
  margin-right: 3px;
}

.socials-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
}

.socials-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.socials-link:hover path {
  fill: var(--color-dark-blue);
}

.socials-link:focus  {
  outline: 3px solid var(--color-light-blue);
  box-sizing: border-box;
  border-radius: 10px;
}

.socials-link path:focus,
.socials-link svg:focus {
  outline: 0;
}

.socials-link:active {
  opacity: 0.3;
}

.footer-contacts {
  font-style: normal;
  margin: 0 auto;
}

.phone {
  display: block;
  padding: 12px;
  width: 360px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.phone:hover {
  color: var(--color-light-brown);
}

.phone:focus {
  color: var(--color-light-brown);
  outline: 3px solid var(--color-light-blue);
  box-sizing: border-box;
  border-radius: 10px;
}

.phone:active {
  color: var(--color-light-brown);
  opacity: 0.3;
}

.footer-logo {
  display: block;
  margin-top: 7px;
  margin-left: auto;
  max-width: 240px;
}

.footer-logo-link {
  display: block;
  padding: 10px;
}

.footer-logo-link:hover path{
  fill: var(--color-light-brown);
}

.footer-logo-link:focus {
  outline: 3px solid var(--color-light-blue);
  box-sizing: border-box;
  border-radius: 10px;
}
.footer-logo-link:focus svg,
.footer-logo-link:focus path {
  outline: 0;
  fill: var(--color-light-brown);
}

.footer-logo-link:active path{
  fill: var(--color-light-brown);
  opacity: 0.3;
}

/* Каталог */

/* Фильтр */

.filter {
  margin: 0 72px;
}

.filter-wrapper {
  position: relative;
  margin: 0 auto;
  background-color: var(--color-dark);
  background-image: url("../images/catalog-main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-btn {
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  padding: 0;
  padding-top: 40px;
  margin: 0 72px;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  color: var(--color-white);
}

/* Хлебные крошки */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  list-style-type: none;
}

.breadcrumbs-link {
  display: flex;
  margin: 0;
  padding: 0;
  padding-right: 13px;
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-white);
  text-decoration: none;
}

.breadcrumbs-link-hostel {
  display: block;
  align-items: flex-start;
}

/* Форма фильтра */

.catalog-filter {
  width: 1060px;
  display: grid;
  grid-template-columns: 205px 205px 450px min-content;
  gap: 12px;
  padding-bottom: 82px;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white);
}

.catalog-filter-group:nth-child(3) .catalog-filter-title {
  padding-left: 94px;
}

.price {
  box-sizing: border-box;
  display: inline;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 0;
  max-width: 142px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-white);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.min-price {
  margin-left: 95px;
}

.range {
  margin-left: 94px;
  width: 287px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.checkpoint {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-white);
}

.checkpoint-input[type='checkbox'] {
  margin-right: 18px;
}

.checkpoint-input[type='radio'] {
  margin-right: 18px;
}

.catalog-filter .button {
  display: inline-block;
  cursor: pointer;
  margin-top: 60px;
  padding: 13px 35px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.catalog-filter .reset {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  margin-top: 20px;
  padding: 0 18px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
  background-color: transparent;
}

/* Сортировка */

.sorting {
  display: flex;
  margin: 0 auto;
  min-width: 1057px;
  padding-top: 44px;
  padding-bottom: 53px;
  padding-left: 72px;
  padding-right: 72px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.sorting-search {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: calc(100% / 2);
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--color-black);
}

.select-sorting {
  box-sizing: border-box;
  margin: 0;
  margin-right: 80px;
  padding-left: 13px;
  width: 287px;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.card-grid-toggle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
}

.card-grid-toggle:last-child {
  margin-right: 0;
}

.card-grid-toggle-current {
  border: 2px solid var(--color-black);
}

.card-grid-toggle svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Отфильтрованный каталог */

.catalog {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
  margin: 0;
  margin-bottom: 34px;
  padding: 0 72px;
  list-style-type: none;
}

.catalog-card {
  width: 340px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.catalog-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 20px;
  padding-bottom: 0;
  text-decoration: none;
}

.catalog-card-title {
  order: -1;
  margin: 16px 0;
  width: calc(100%);
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: var(--color-black);
}

.catalog-img {
  order: -2;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.catalog-card-type,
.catalog-card-price {
  display: flex;
  margin: 0;
  margin-bottom: 16px;
  margin-right: 24px;
  padding: 0;
  width: calc((100% / 2) - 16px);
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.catalog-card-price {
  margin: 0;
}

.catalog-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 16px 20px;
  padding: 0px;
}

.catalog-card-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 23px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

.btn-favourites {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.btn-favourites-added {
  display: inline-block;
  padding: 8px 18px;
  background-color: var(--color-light-green);
}

.raiting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 0;
  padding: 0px;
}

.raiting-value {
  padding: 8px 33px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Пагинация */

.pagination-show-more {
  box-sizing: border-box;
  margin: 24px 72px;
  margin-bottom: 0;
  border-top: 1px solid var(--color-light-grey);
  border-bottom: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
}

.pagination-btn{
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 16px 0;
  border: none;
  border-radius: 4px;
  width: 620px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination {
  display: flex;
  margin: 0 auto;
  padding: 30px 72px 73px 72px;
  background-color: var(--color-white);
}

.pagination-list {
  margin: 0;
  padding: 0;
  width: calc(100% / 2);
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination-current {
  color: var(--color-white);
  background-color: var(--color-light);
}

.count-filter {
  padding: 2px 0;
  margin-left: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.count {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.count-select {
  box-sizing: border-box;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;;
  width: 160px;
  height: 48px;
  margin-left: 49px;
  margin-top: 2px;
}

/* Подписка на странице каталога */

.catalog-mailling {
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 140px 200px;
  padding-top: 0;
}

.catalog-mailling-title {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.catalog-mailling-text {
  padding: 46px 165px;
  padding-top: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark);
}

.main-inner .subscribe-field {
  background-color: var(--color-light);
}

.catalog-mailling-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

