@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --color-black: #000000;
  --color-dark: #333333;
  --color-gray: #e5e5e5;
  --color-light: #f2f2f2;
  --color-white: #ffffff;
  --color-light-brown: #756257;
  --color-dark-brown: #615048;
  --color-light-green: #7db54f;
  --color-dark-green: #6c9e42;
  --color-light-blue: #83b3d3;
  --color-dark-blue: #68a2ca;
  --color-cold-light: rgba(131, 179, 211, 0.12);
  --color-warm-light: rgba(131, 179, 211, 0.2);
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Шапка */
.main-header {
  color: var(--color-black);
  background-color: var(--color-white);
  margin: 0 auto;
}

.main-nav-logo {
  display: block;
  width: 140px;
  margin-right: 30px;
}

.main-nav {
  display: flex;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  background-color: var(--color-white);
  text-decoration: none;
}

.site-navigation-list {
  width: 550px;
}

.user-nav-list {
  max-width: 310px;
  margin-left: auto;
}

.counter-value {
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
  color: var(--color-white);
  background-color: var(--color-light-green);
  border-radius: 10px;
}

.user-nav-link-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/* Промо */
.promo {
  background-color: var(--color-white);
}

.promo-img-container {
  height: 485px;
  background-color: var(--color-light-brown);
}

.promo-img-inscription {
  position: absolute;
  top: 116px;
  left: 411px;
}

.promo-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.promo-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: var(--color-dark);
}

/* Преимущества  */

.privilege {
  background-color: var(--color-white);
}

.privilege-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.privilege-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.privilege-item-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark);
}

.privilege-item-wrapper {
  max-width: 400px;
}

.privilege-item-img {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.privilege-list li:nth-child(2) {
  flex-direction: row-reverse;
}

.privilege-list li:nth-child(3),
.privilege-list li:nth-child(5) {
  width: calc(100% / 3);
  background-color: var(--color-cold-light);
}

.privilege-list li:nth-child(4) {
  width: calc(100% / 3);
  min-height: 384px;
  background-color: var(--color-warm-light);
}

.privilege-item-picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-light-blue);
}

.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text,
.privilege-item-picture .privilege-item-title,
.privilege-item-picture .privilege-item-text {
  color: var(--color-white);
}

/* Privilege-aside-list  */

.privilege-aside-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--color-white);
}

.privilege-aside-list .background-light {
  background-color: var(--color-cold-light);
}

.privilege-aside-item {
  width: calc(100% / 3);
  min-height: 384px;
}

.privilege-aside-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.privilege-aside-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--color-dark);
}

/* Поиск гостиниц */

.search-hostel {
  padding-left: 200px;
  padding-right: 200px;
  background-color: var(--color-white);
}

.search-hostel-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.search-hostel-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark);
}

.search-hostel-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

/* Подписка */

.mailling {
  padding-left: 200px;
  padding-right: 200px;
  background-color: var(--color-light-brown);
  background-image: url("../images/mailling-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.mailling-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.mailling-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-white);
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

/* Подвал */

.footer {
  background-color: var(--color-white);
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
}

.socials-list {
  margin-right: auto;
  max-width: 240px;
}

.phone {
  width: 720px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.footer-logo {
  margin-left: auto;
  max-width: 240px;
}

/* Каталог */

/* Фильтр */

.filter {
  margin-left: 72px;
  margin-right: 72px;
}

.filter-wrapper {
  margin: 0 auto;
  background-color: var(--color-dark);
  background-image: url("../images/catalog-main-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  flex-direction: row;
  list-style: none;
}

.catalog-filter-container {
  display: flex;
  flex-direction: row;
}

.catalog-filter:nth-child(2) {
  width: 313px;
}

.catalog-filter-group {
  width: 287px;
}

.catalog-filter-btn {
  display: flex;
  flex-direction: column;
}

.inner-header-title {
  margin-left: 72px;
  margin-right: 72px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: var(--color-white);
}

/* Хлебные крошки */

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: var(--color-white);
  text-decoration: none;
}

/* Форма фильтра */

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: var(--color-white);
}

.checkpoint {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-white);
}

.catalog-filter .button {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.catalog-filter .reset {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  color: var(--color-white);
}

/* Сортировка */

.sorting {
  display: flex;
  margin: 0 auto;
  min-width: 1057px;
  padding-left: 71px;
  padding-right: 72px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.sorting-search {
  width: calc(100% / 2);
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
  color: var(--color-black);
}

.select-sorting {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

/* Отфильтрованный каталог */

.catalog {
  background-color: var(--color-white);
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
}

.catalog-card {
  width: 339px;
  background-color: var(--color-white);
  color: var(--color-black);
}

.catalog-link {
  text-decoration: none;
}

.catalog-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  color: var(--color-black);
}

.catalog-card-type,
.catalog-card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

.catalog-card-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-brown);
}

.btn-favourites {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.btn-favourites-added {
  background-color: var(--color-light-green);
}

.raiting-value {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* Пагинация */

.pagination-show-more {
  margin-left: 72px;
  margin-right: 72px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination {
  display: flex;
  margin: 0 auto;
  padding-left: 72px;
  padding-right: 72px;
  background-color: var(--color-white);
}

.pagination-list {
  width: calc(100% / 2);
  display: flex;
  flex-direction: row;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.pagination-current {
  color: var(--color-white);
  background-color: var(--color-light);
}

.count-filter {
  margin-left: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--color-dark);
}

/* Подписка на странице каталога */

.catalog-mailling {
  background-color: var(--color-white);
  color: var(--color-black);
  padding-left: 200px;
  padding-right: 200px;
}

.catalog-mailling-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
}

.catalog-mailling-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: var(--color-dark);
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}
